:root {
  --default-font-family: "Mulish", sans-serif;
  --secondary-color: #212529;
  --primary-color: #e3f3fd;
  --link-color: #396a7f;
  --button-border: solid 1px var(--secondary-color);
  --gradient: linear-gradient(
    178deg,
    rgba(201, 234, 252, 0.51) 14.9%,
    rgba(139, 192, 216, 0.73) 80%
  );
}

body {
  font-family: var(--default-font-family);
  background-color: rgba(86, 91, 84, 0.02);
}

.navbar {
  background-color: #fbfbfb !important;
  font-size: 18px;
  border-bottom: solid 1px lightgray;
}

nav li .active {
  color: var(--primary-color);
  font-weight: 700;
}

h1,
h2 {
  font-family: var(--default-font-family);
  font-weight: 700;
}

h3 {
  font-size: 24px;
  font-weight: 700;
  margin: 25px 0 15px;
}

h4 {
  font-family: var(--default-font-family);
  font-size: 48px;
  font-weight: 600;
}

.hero {
  background-image: url(/images/blue-landscape-edit.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 170px 40px 100px;
  color: white;
}

.hero h1 {
  font-family: var(--default-font-family);
  font-size: 96px;
}

.hero h2 {
  font-size: 24px;
  margin: 20px 0 30px;
  font-family: var(--default-font-family);
  opacity: 0.9;
  font-weight: 300;
}

.hero p {
  font-size: 36px;
  font-weight: bold;
}

.hero-image {
  border-radius: 50%;
}

.btn-branding {
  margin: 0;
  background-color: white;
  padding: 16px 45px;
  border-radius: 4px;
  font-size: 18px;
  text-decoration: none;
  border: var(--button-border);
}

.btn-branding:hover {
  color: white;
  border: solid 1px white;
  background-color: white;
}

.about-container {
  padding: 160px 0 100px;
  margin: 0 140px;
}

.project-container {
  padding: 40px 0;
  margin: 0 140px;
}

.project-link img:hover {
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.2);
}

.content {
  padding-right: 94px;
}

.content h1 {
  font-size: 64px;
}

.content h2 {
  font-size: 18px;
  font-weight: bold;
  font-family: var(--default-font-family);
}

.content p {
  opacity: 0.7;
  font-size: 16px;
  line-height: 1.8;
}

.content a {
  text-decoration: none;
}

.content a:hover {
  color: var(--primary-color);
}

.about-image {
  padding: 65px 20px 20px;
}

.project-info {
  padding-top: 10px;
  margin: 30px;
}

.btn-branding-outline {
  margin-top: 10px;
  background-color: white;
  padding: 16px 45px;
  border-radius: 4px;
  font-size: 18px;
  text-decoration: none;
  border: var(--button-border);
}

.btn-branding-outline:hover {
  color: white;
  border: solid 1px white;
  background-color: white;
}

footer .footer-container {
  background-image: url(/images/blue-landscape-edit.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  background-position: center;
  padding: 50px 100px 30px;
  border-radius: 10px;
  margin: 75px 100px 30px;
}

.footer-container .footer-content {
  font-size: 18px;
}

footer .email-link a {
  color: black;
  text-align: center;
  text-decoration: none;
  font-size: 24px;
}

footer .email-link a:hover {
  color: var(--link-color);
}

footer .icon-links a {
  color: var(--secondary-color);
  background-color: var(--primary-color);
  margin: 0 30px;
  font-size: 24px;
  padding: 10px 17px;
  border-radius: 50%;
  transition: all 150ms ease-in-out;
}

footer .icon-links a:hover {
  background-color: var(--secondary-color);
  color: var(--primary-color);
}

.contact-icons {
  color: var(--secondary-color);
}

.contact-heading h1 {
  background-image: url(/images/blue-landscape-edit.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  background-position: center;
  padding: 170px 140px 100px;
  font-size: 64px;
}

.contact-container {
  padding: 20px 140px;
}

.contact a {
  color: black;
}

.contact a:hover {
  color: var(--link-color);
}

@media (max-width: 1200px) {
  .project-info {
    padding: 0;
  }

  .about-image {
    padding: 20px;
  }

  .footer-2 {
    background-image: url(/images/blue-landscape-edit.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    background-position: center;
    padding: 20px 0;
  }

  footer .email-link a {
    color: var(--primary-color);
  }

  footer .email-link a:hover {
    text-decoration: underline;
    color: var(--primary-color);
  }

  .icon-links {
    margin-bottom: 0;
  }
}

@media (max-width: 991px) {
  .hero {
    padding: 150px 20px 115px;
  }

  .hero h1,
  .hero h2,
  .hero p {
    text-align: center;
  }

  .hero-column-one {
    padding: 0;
  }

  .hero img {
    width: 40%;
    margin-top: 40px;
  }

  .about-container {
    padding: 80px 0 40px;
    margin: 40px;
    text-align: center;
  }

  .project-container {
    padding: 20px 0;
    margin: 40px;
  }

  .hero h1 {
    font-size: 60px;
  }

  .hero h2 {
    font-size: 20px;
  }

  .hero p {
    font-size: 26px;
  }

  .btn-branding-outline {
    padding: 12px 22px;
    font-size: 13px;
  }

  .btn-branding {
    padding: 12px 22px;
    font-size: 15px;
    display: block;
    margin: 0 auto;
    max-width: 150px;
  }

  .contact-heading h1 {
    font-size: 40px;
    padding: 150px 40px 60px;
    text-align: center;
  }

  .contact-container {
    padding: 25px;
    text-align: center;
  }

  .content {
    padding: 0;
  }

  .content h1 {
    font-size: 55px;
  }
}

@media (max-width: 280px) {
  .hero h1 {
    font-size: 40px;
  }

  .about-container {
    margin: 15px;
    padding-top: 50px;
  }

  .content h1 {
    font-size: 40px;
  }

  .content h2 {
    font-size: 16px;
  }
}
